@charset "utf-8";

body {
	color: #333333;
	margin: 3px;
	padding-bottom: 85px;
}

h1 {
	font-size: 0.9rem;
	margin: 0.9rem 0;
	text-align: center;
}

section {
	border: 1px solid #8E8E8E;
	border-radius: 3px;
	cursor: pointer;
	margin-top: 3px;
	padding: 3px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	user-select: none;
	-webkit-user-select: none;
}

section.lv1 {
	background-color: #FFF280;
}

section.lv2 {
	background-color: #FFF7AA;
}

section.lv2 table {
	table-layout: fixed;
	white-space: nowrap;
	width: 100%;
}

section.lv2 table tr {
	height: 25px;
}

section.lv2 table.team tr:nth-child(1) td {
	font-size: 0.8rem;
	text-align: center;
}

section.lv2 table.team tr:nth-child(2) td {
	font-size: 1.2rem;
	text-align: center;
}

section.lv2 table.game tr td:nth-child(1) {
	font-size: 0.8rem;
	line-height: 0.8rem;
	width: 10%;
}

section.lv2 table.game tr td:nth-child(2) {
	overflow: hidden;
	width: 65%;
}

section.lv2 table.game tr td:nth-child(3) {
	text-align: center;
	width: 13%;
}

section.lv2 table.game tr td:nth-child(4) {
	text-align: center;
	width: 12%;
}

section.lv3 {
	background-color: #FFFBD5;
}

section.lv3 label {
	display: inline-block;
	line-height: 35px;
	text-align: center;
	width: calc(50% - 6px);
}

section.lv3 table tr {
	height: 30px;
}

section.lv3 table tr td {
	font-size: 0.8rem;
	text-align: center;
}

section.lv3 table tr td.affirmativeSum, section.lv3 table tr td.negativeSum {
	font-size: 1.2rem;
}

section.lv3 table tr td select {
	font-size: 1.2rem;
	width: 60px;
}

@media screen and (max-width: 567px) {

	section.lv3 table tr {
		display: inline-block;
		height: 320px;
		width: 33%;
	}

	section.lv3 table tr td {
		box-sizing: border-box;
		display: block;
		height: 40px;
		line-height: 40px;
	}

}

section.popup {
	animation-duration: 0.7s;
	animation-name: popup;
	background-color: #FFFFFF;
	box-shadow: 1px 1px 3px;
	box-sizing: border-box;
	height: calc(100% - 6px);
	left: 0;
	margin: 3px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	width: calc(100% - 6px);
}

@keyframes popup {
	0% {
		opacity: 0.3;
		transform: scale(0.4, 0.4);
	}
	70% {
		opacity: 1.0;
	}
	100% {
		transform: scale(1.0, 1.0);
	}
}

section h2 {
	font-size: 1.2rem;
	margin: 0;
	overflow: hidden;
	padding: 5px 3px;
	white-space: nowrap;
}

section p {
	line-height: 35px;
	margin: 0;
	padding: 0 3px;
}

section p.operation {
	color: #8E8E8E;
	padding: 3px;
	text-align: center;
}

section input[type="text"], section input[type="password"] {
	box-sizing: border-box;
	font-size: 1.1rem;
	margin: 1px 3px 0 3px;
	width: calc(100% - 6px);
}

section input[type="button"] {
	-webkit-appearance: none;
	background-color: #1F91BE;
	border-radius: 3px;
	border-style: none;
	color: #FFFFFF;
	font-size: 0.9rem;
	height: 35px;
	margin: 7px 3px;
	width: 90px;
}

section input[type="button"]:disabled {
	background-color: #8E8E8E;
}

section input[type="button"] + p {
	display: inline;
	font-size: 0.8rem;
}

section input[type="button"] + p.error {
	color: #FF0000;
}

div.button {
	background-color: #1F91BE;
	border-radius: 50%;
	bottom: 12px;
	box-shadow: 1px 1px 3px;
	height: 64px;
	position: fixed;
	right: 12px;
	width: 64px;
}

div.button img {
	margin: 14px;
}

p.delete {
	color: #8E8E8E;
	font-size: 0.9rem;
	line-height: 20px;
	margin-left: auto;
	text-align: right;
	width: 30px;
}
